In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('drug200.csv', header = None)

In [3]:
dataset

       0    1       2            3        4      5
0    Age  Sex      BP  Cholesterol  Na_to_K   Drug
1     23    F    HIGH         HIGH   25.355  DrugY
2     47    M     LOW         HIGH   13.093  drugC
3     47    M     LOW         HIGH   10.114  drugC
4     28    F  NORMAL         HIGH    7.798  drugX
..   ...  ...     ...          ...      ...    ...
196   56    F     LOW         HIGH   11.567  drugC
197   16    M     LOW         HIGH   12.006  drugC
198   52    M  NORMAL         HIGH    9.894  drugX
199   23    M  NORMAL       NORMAL    14.02  drugX
200   40    F     LOW       NORMAL   11.349  drugX

[201 rows x 6 columns]